* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(225, 9%, 9%);

    --muted: hsl(300, 8%, 95%);
    --muted-foreground: hsl(225, 9%, 9%);

    --input: hsl(300, 8%, 95%);
    --input-foreground: hsl(225, 9%, 9%);

    --primary: hsl(225, 9%, 9%);
    --primary-foreground: hsl(0, 0%, 100%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(225, 9%, 9%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(225, 9%, 9%);

    --border: hsl(240, 2%, 81%);

    --primary: hsl(232, 100%, 60%);
    --primary-foreground: hsl(0, 0%, 100%);

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;

    --font-family: 'Inter', sans-serif;
    --font-size-base: 1rem;
    --font-size-h1: 3.6rem;
    --font-size-h2: 3.2rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2.2rem;
    --font-size-h5: 1.8rem;
    --font-size-h6: 1.34rem;
  
    --line-height-base: 1.5;
    --line-height-heading: 1.2;

    --container-width: 75rem;
    --container-padding: 1rem;
    --container-padding-lg: 2rem;
  
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    --section-offset: 50px;

    --transition-1: 100ms;
    --transition-2: 200ms;
    --transition-3: 300ms;
    --transition-4: 400ms;
}

:focus-visible {
    outline-offset: 0.25rem;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

html {
    color: var(--foreground);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--background);
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--background);
} 

.container {
    max-width: var(--container-width);
    padding-inline: var(--container-padding);
    margin-inline: auto;
}

/* effects */
.hover\:underline {
    text-underline-offset: 0.1875rem;
}

.hover\:underline:is(:hover, :focus) {
    text-decoration: underline;
}

/* header */
.header .search-btn .search-btnSpan,
.header .login-link {
    display: none;
}

.header {
    position: relative;
    padding-block: 1.5rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-toolsList {
    display: flex;
    gap: 0.9375rem;
}

.header .search-btn {
    font-size: 1.75rem;
}

.header .search-btn ion-icon {
    --ionicon-stroke-width: 3.125rem;
}

.header .menu-toggleLine {
    display: block;
    width: 1.875rem;
    height: 0.1875rem;
    background-color: var(--foreground);
    transition: all var(--transition-2);
}

.header .menu-toggleLine:not(:last-child) {
    margin-block-end: 0.4375rem;
}

.header .menu-toggle.active .menu-toggleLine:nth-child(2) {
    opacity: 0;
}

.header .menu-toggle.active .menu-toggleLine:nth-child(1) {
    transform: translateY(0.625rem) rotate(45deg);
}

.header .menu-toggle.active .menu-toggleLine:nth-child(3) {
    transform: translateY(-0.625rem) rotate(-45deg);
}

.header .navbar {
    position: absolute;
    top: calc(100% - 1.25rem);
    right: var(--container-padding);
    min-width: 6.25rem;
    padding: 0.9375rem 0.625rem;
    color: var(--background);
    border-radius: var(--radius-lg);
    transform: translateY(0.625rem);
    opacity: 0;
    visibility: hidden;
    background-color: var(--foreground);
    transition: all var(--transition-2);
    z-index: 2;
}

.header .navbar.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.header .navbar .navbar-menuItem {
    width: 100%;
}

.header .navbar .navbar-menuLink {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: right;
    font-weight: 500;
    font-size: 1.125rem;
}